sync
add
*.o
.*.swp
*.obj
out
*~
*Debug*
*Release*
*.sdf
*.opensdf
*.suo
*.sln.ide*
*.tmp
*.opendb
*.db

nsinit-ref
nsinit-ref-stdin
final/nsinit
cy86
!cy86/
cy86-ref

final/nsdecl
final/recog
final/preproc
final/macro
final/ctrlexpr
final/posttoken
final/pptoken

*.my.program*
*.my.impl*
