sync
add
*.o
.*.swp
*.obj
out
*~
*Debug*
*Release*
*.sdf
*.opensdf
*.suo
*.sln.ide*
*.tmp
*.opendb

nsinit-ref
nsinit-ref-stdin
nsinit
cy86
!cy86/
cy86-ref

nsdecl
recog
preproc
macro
ctrlexpr
posttoken
pptoken

*.my.program*
*.my.impl*
